# Importation des biblitohèques utiles pour la réalisation du travail

In [167]:
import requests
import pandas as pd
import numpy as np

# Importation de la base des informations météorologiques à partir d'une requête API

L'URL de base pour accéder à l'API est la suivante:

In [ ]:
base_url = "https://public.opendatasoft.com/api/explore/v2.1"

Le chemin pour accéder aux enregistrements de la base de données est le suivant:

In [ ]:
dataset_path = "/catalog/datasets/donnees-synop-essentielles-omm/exports/json?lang=fr&timezone=Europe%2FBerlin"

In [ ]:
l'URL complète est donc construite de cette façon:

In [ ]:
url = f"{base_url}{dataset_path}"

Exécution de la requête permettant d'obtenir la base de données:

In [ ]:
response = requests.get(url)

In [ ]:
Vérification si la requête a réussi:

In [1]:
if response.status_code == 200:
    # Extraction des données
    data = response.json()

    # Conversion des résultats en DataFrame
    base_meteo = pd.DataFrame(data)
else:
    print(f"Erreur lors de la requête: {response.status_code}")

## Aperçu de la base des données brute importée

In [ ]:
base_meteo.head()

## Dimensions de la base des données brutes

In [145]:
dimensions_base_meteo=base_meteo.shape
nombre_lignes_base_meteo, nombre_colonnes_base_meteo = dimensions_base_meteo
print(f"La base brute des informations météorologiques a {nombre_lignes_base_meteo} lignes et {nombre_colonnes_base_meteo} colonnes.")

La base brute des informations météorologiques a 163543 lignes et 82 colonnes.

## Sauvegarde d'une copie de la base brute

In [5]:
base_meteo.to_csv('data_meteo.csv', index=False)

# Changement des noms des variables

Cela se fait à partir de la documentation fournie par SYNOP. Dans cette documentation, la signification des noms attribuée aux variables dans le code de l'API est utilisées.

In [6]:
#base_meteo=pd.read_csv('data_meteo.csv', sep=',')

In [134]:
nouveaux_noms_colonnes={'numer_sta':'num_station', 'date':'date_UTC', 'pmer':'pression_mer', 'tend':'variation_pression_3h', 'cod_tend':'type_tendance_baro', 'dd':'direction_vent', 'ff':'vitesse_vent', 't':'temperature', 'td':'point_de_rosee',
       'u':'humidite', 'vv':'visibilite_horizontale', 'ww':'temps_present', 'w1':'temps_passe_1', 'w2':'temps_passe_2', 'n':'nebulosite_totale', 'nbas':'nebulosite_nuage_etage_inf', 'hbas':'hauteur_base_nuage_etage_inf', 'cl':'type_nuage_etage_inf', 'cm':'type_nuage_etage_moyen', 'ch':'type_nuage_etage_sup',
       'pres':'pression_station', 'niv_bar':'niveau_barometriq', 'geop':'geopotentiel', 'tend24':'variation_pression_24h', 'tn12':'temperature_min_sur_12h', 'tn24':'temperature_min_sur_24h', 'tx12':'temperature_max_sur_12h', 'tx24':'temperature_max_sur_24h',
       'tminsol':'temperature_min_sol_sur_12h', 'sw':'methode_mesure_temperature_thermometre_mouille', 'tw':'temperature_thermometre_mouille', 'raf10':'rafales_10_dernieres_minutes', 'rafper':'rafales_sur_une_periode', 'per':'periode_mesure_rafales', 'etat_sol':'etat_du_sol', 'ht_neige':'hauteur_totale_couche_neige/glace_au_sol',
       'ssfrai':'hauteur_neige_fraiche', 'perssfrai':'periode_mesure_neige_fraiche', 'rr1':'precipitation_dans_1_derniere_heure', 'rr3':'precipitation_dans_3_derniere_heure', 'rr6':'precipitation_dans_6_derniere_heure', 'rr12':'precipitation_dans_12_derniere_heure', 'rr24':'precipitation_dans_24_derniere_heure', 'phenspe1':'phenomene_special_1',
       'phenspe2':'phenomene_special_2', 'phenspe3':'phenomene_special_3', 'phenspe4':'phenomene_special_4', 'nnuage1':'nebulosite_couche_nuageuse_1', 'ctype1':'type_de_nuage_1', 'hnuage1':'hauteur_de_base_nuage_1',
       'nnuage2':'nebulosite_couche_nuageuse_2', 'ctype2':'type_de_nuage_2', 'hnuage2':'hauteur_de_base_nuage_2', 'nnuage3':'nebulosite_couche_nuageuse_3', 'ctype3':'type_de_nuage_3', 'hnuage3':'hauteur_de_base_nuage_3',
       'nnuage4':'nebulosite_couche_nuageuse_4', 'ctype4':'type_de_nuage_4', 'hnuage4':'hauteur_de_base_nuage_4', 'coordonnees':'coordonnees', 'nom':'nom_commune',
       'type_de_tendance_barometrique':'type_de_tendance_barometrique', 'temps_passe_1':'temps_passe_1', 'temps_present':'temps_present', 'tc':'temperature_degre_celcius',
       'tn12c':'temperature_celcius_min_sur_12h', 'tn24c':'temperature_celcius_min_sur_24h', 'tx12c':'temperature_celcius_max_sur_12h', 'tx24c':'temperature_celcius_max_sur_24h', 'tminsolc':'temperature_celcius_min_sol_sur_12h', 'latitude':'latitude', 'longitude':'longitude',
       'altitude':'altitude', 'libgeo':'libelle_geolocalisation', 'codegeo':'code_geolocalisation', 'nom_epci':'nom_EPCI', 'code_epci':'code_EPCI', 'nom_dept':'nom_departement',
       'code_dep':'code_departement', 'nom_reg':'nom_region', 'code_reg':'code_region', 'mois_de_l_annee':'mois'}

Nous allons renommer les variables en créant une nouvelle base afin de conserver une copie de la base initiale.

In [135]:
base_meteo_modifie_1 = base_meteo.rename(columns=nouveaux_noms_colonnes)

## Aperçu des variables météorologiques renommées

In [136]:
base_meteo_modifie_1.head()

,num_station,date_UTC,pression_mer,variation_pression_3h,type_tendance_baro,direction_vent,vitesse_vent,temperature,point_de_rosee,humidite,...,altitude,libelle_geolocalisation,code_geolocalisation,nom_EPCI,code_EPCI,nom_departement,code_departement,nom_region,code_region,mois
0,7558,2010-01-05T10:00:00+01:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,...,712.0,Millau,12145,CC de Millau Grands Causses,241200567.0,Aveyron,12,Occitanie,76.0,1.0
1,61976,2010-01-05T10:00:00+01:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,7027,2010-01-05T13:00:00+01:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,...,67.0,Carpiquet,14137,CU Caen la Mer,200065597.0,Calvados,14,Normandie,28.0,1.0
3,7110,2010-01-05T13:00:00+01:00,100750.0,-230.0,8.0,210.0,4.1,276.95,272.55,73.0,...,94.0,Guipavas,29075,Brest Métropole,242900314.0,Finistère,29,Bretagne,53.0,1.0
4,7591,2010-01-05T13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,274.45,269.05,67.0,...,871.0,Embrun,05046,CC Serre-Ponçon,200067742.0,Hautes-Alpes,05,Provence-Alpes-Côte d'Azur,93.0,1.0

## Sauvegarde d'une copie de cette première version modifiée de la base

In [137]:
base_meteo_modifie_1.to_csv('data_meteo_modifie_1.csv', index=False)

# Identification des variables météoroliques à retenir

Il est question d'identifier les les variables météorologiques se reférant aux espects retenus Après une revue de la littérature:
* __Température :__ les variables identifiées sont la température en degré celcius ('temperature_degre_celcius'), la température minimale sur les 24 dernières heures ('temperature_celcius_min_sur_24h'), et la température maximale sur les 24 dernières heures ('temperature_celcius_max_sur_24h')
* __Vitesse du vent :__ la variable identifiée est la vitesse du vent ('vitesse_vent')
* __Couverture nuageuse :__ la variable identifié est la nébulosité totale et renvoie à la quantité totale de nuages couvrant le ciel ou plus simplement le degré de couverture nuageuse dans le ciel ('nebulosite_totale')
* __Humidité :__ la variable identifiée est l'indice d'humidité ('humidite')
* __Rayonnement global :__ la variable identifiée pour capter cet aspect est la distance maximale à laquelle des objets peuvent être clairement discernés à l'horizon ('visibilite_horizontale')

# Vérification et gestion des valeurs manquantes pour les variables d'agrégation

## Vérification des régions et départements manquants

In [138]:
print(base_meteo_modifie_1['nom_region'].isnull().sum())
print(base_meteo_modifie_1['code_region'].isnull().sum())
print(base_meteo_modifie_1['nom_departement'].isnull().sum())
print(base_meteo_modifie_1['code_departement'].isnull().sum())
print(base_meteo_modifie_1['nom_commune'].isnull().sum())

21452
21452
21452
21452
0

On constate que tous les noms de commune sont renseignés, mais certains noms de région et département ne le sont pas. Nous allons donc utiliser les noms de commune pour renseigner les départements et régions manquants.

## Importation de la base de données des communes, départements et régions

In [15]:
communes_departement_region = pd.read_csv('communes_departement_region.csv', sep=',')

In [32]:
communes_departement_region.head()

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes

## Gestion des régions et départements manquants

Nous explorons la possibilité de completer les régions et départements manquants à partir de la base de données des communes, régions et départements.

In [147]:
test=pd.merge(base_meteo_modifie_1, communes_departement_region, on=['nom_commune'], how='left')
test.head()
test.columns
print(test['nom_region_y'].isnull().sum())
print(test['code_region_y'].isnull().sum())
print(test['nom_departement_y'].isnull().sum())
print(test['code_departement_y'].isnull().sum())
print(test['nom_commune'].isnull().sum())

163543
163543
163543
163543
0

Il est constaté qu'il n'y a aucune correspondance entre ces deux fichiers. On cherche donc une autre méthode.

## À compléter ...

In [149]:
base_meteo_modifie_2=base_meteo_modifie_1

# Agrégation des variables météorologiques

Il est ici question de construire les variables qui seront utilisées dans les analyses. Les données seront agrégées au niveau régional et à une fréquence journalière.

avant de le faire, nous allons éclater la variable 'date_UTC' pour en faire deux variables: jour et heure. La fonction chargée de le faire est la suivante:

In [148]:
def extraire_sous_chaine(chaine, debut, fin):
    """
    Extrait la sous-chaîne de 'debut' à 'fin' (inclus) de la chaîne donnée.
    """
    if debut < 0 or fin >= len(chaine):
        raise ValueError("Indices de début ou de fin invalides.")
    return chaine[debut : fin + 1]

Nous appliquons la fonction à la base:

In [150]:
base_meteo_modifie_2['jour']=base_meteo_modifie_2['date_UTC'].apply(extraire_sous_chaine,debut=0,fin=9)
base_meteo_modifie_2['heure']=base_meteo_modifie_2['date_UTC'].apply(extraire_sous_chaine,debut=11,fin=18)

## Agrégation des variables à l'échelle départementale

Tout d'abord, agrégeons les variables 'temperature_degre_celcius','vitesse_vent', 'nebulosite_totale', 'humidite', 'visibilite_horizontale'

In [153]:
agregation_dep_mean = base_meteo_modifie_2.groupby(['jour','code_departement']).agg({'temperature_degre_celcius': 'mean', 'vitesse_vent': 'mean','nebulosite_totale':'mean','visibilite_horizontale':'mean'})
agregation_dep_mean = agregation_dep_mean.rename(columns={'jour':'jour','code_departement':'code_departement','temperature_degre_celcius':'temperature_degre_celcius_departement','vitesse_vent':'vitesse_vent_departement','nebulosite_totale':'nebulosite_totale_departement','visibilite_horizontale':'visibilite_horizontale_departement'})

Un aperçu de l'agrégation obtenue:

In [154]:
agregation_dep_mean.head()

                             temperature_degre_celcius_departement  \
jour       code_departement
2010-01-01 05                                                2.575
           06                                                8.400
           10                                                1.200
           12                                                0.600
           13                                               10.800

                             vitesse_vent_departement  \
jour       code_departement
2010-01-01 05                                    3.35
           06                                    1.50
           10                                    4.10
           12                                    9.80
           13                                    6.20

                             nebulosite_totale_departement  \
jour       code_departement
2010-01-01 05                                          NaN
           06                                         75.0
           10                                          NaN
           12                                          NaN
           13                                        100.0

                             visibilite_horizontale_departement
jour       code_departement
2010-01-01 05                                               NaN
           06                                           20000.0
           10                                               NaN
           12                                               NaN
           13                                           18000.0

Fusion de la base agrégée obtenue et de la base de départ dans une nouvelle base:

In [155]:
base_meteo_modifie_3 = pd.merge(base_meteo_modifie_2, agregation_dep_mean, on=['jour','code_departement'], how='left')

Aperçu

In [156]:
base_meteo_modifie_3.head()

,num_station,date_UTC,pression_mer,variation_pression_3h,type_tendance_baro,direction_vent,vitesse_vent,temperature,point_de_rosee,humidite,...,code_departement,nom_region,code_region,mois,jour,heure,temperature_degre_celcius_departement,vitesse_vent_departement,nebulosite_totale_departement,visibilite_horizontale_departement
0,7558,2010-01-05T10:00:00+01:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,...,12,Occitanie,76.0,1.0,2010-01-05,10:00:00,2.60,1.5,100.0,4000.0
1,61976,2010-01-05T10:00:00+01:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,...,NaN,NaN,NaN,1.0,2010-01-05,10:00:00,NaN,NaN,NaN,NaN
2,7027,2010-01-05T13:00:00+01:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,...,14,Normandie,28.0,1.0,2010-01-05,13:00:00,0.95,3.1,67.5,16000.0
3,7110,2010-01-05T13:00:00+01:00,100750.0,-230.0,8.0,210.0,4.1,276.95,272.55,73.0,...,29,Bretagne,53.0,1.0,2010-01-05,13:00:00,2.70,4.6,82.5,17000.0
4,7591,2010-01-05T13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,274.45,269.05,67.0,...,05,Provence-Alpes-Côte d'Azur,93.0,1.0,2010-01-05,13:00:00,1.30,NaN,NaN,NaN

## Agrégation à l'échelle régionale

Cette agrégation utilisera des pondérations qui sont égales à la superficie des départements

### chargement de la base de données des départements avec leurs superficies

In [163]:
!pip install openpyxl
departements_francais = pd.read_excel('departements_francais.xlsx')
departements_francais.head()
departements_francais=departements_francais.rename(columns=departements_francais.iloc[1])
departements_francais=departements_francais.drop([0,1])

Aperçu de base de données des superficies

In [164]:
departements_francais.head()

,Département\nNuméro,Département\nNom,Région,Chef-lieu,Villes Principales,Superficie\n(km2),Population\n(2023),Densité\n(hab./km²)
2,1,Ain,Auvergne-Rhône-Alpes,Bourg-en-Bresse,Belley\nBourg-en-Bresse\nGex\nNantua,5762.4,657856,114.2
3,2,Aisne,Hauts-de-France,Laon,Château-Thierry\nLaon\nSaint-Quentin\nSoissons...,7361.7,529374,71.9
4,3,Allier,Auvergne-Rhône-Alpes,Moulins,Montluçon\nMoulins\nVichy,7340.1,335628,45.7
5,4,Alpes-de-Haute-Provence,Provence-Alpes-Côte d'Azur,Digne-les-Bains,Barcelonnette\nCastellane\nDigne-les-Bains\nFo...,6925.2,165451,23.9
6,5,Hautes-Alpes,Provence-Alpes-Côte d'Azur,Gap,Briançon\nGap,5548.7,140605,25.3

Ajout la superficie du département la base principale

In [165]:
departements_francais=departements_francais[['Département\nNom','Superficie\n(km2)']]
departements_francais=departements_francais.rename(columns={'Département\nNom':'nom_departement','Superficie\n(km2)':'superficie_km2'})
base_meteo_modifie_4 = pd.merge(base_meteo_modifie_3, departements_francais, on=['nom_departement'], how='left')

Aperçu de la base obtenue

In [166]:
base_meteo_modifie_4.head()

,num_station,date_UTC,pression_mer,variation_pression_3h,type_tendance_baro,direction_vent,vitesse_vent,temperature,point_de_rosee,humidite,...,nom_region,code_region,mois,jour,heure,temperature_degre_celcius_departement,vitesse_vent_departement,nebulosite_totale_departement,visibilite_horizontale_departement,superficie_km2
0,7558,2010-01-05T10:00:00+01:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,...,Occitanie,76.0,1.0,2010-01-05,10:00:00,2.60,1.5,100.0,4000.0,8735.1
1,61976,2010-01-05T10:00:00+01:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,...,NaN,NaN,1.0,2010-01-05,10:00:00,NaN,NaN,NaN,NaN,NaN
2,7027,2010-01-05T13:00:00+01:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,...,Normandie,28.0,1.0,2010-01-05,13:00:00,0.95,3.1,67.5,16000.0,5534.5
3,7110,2010-01-05T13:00:00+01:00,100750.0,-230.0,8.0,210.0,4.1,276.95,272.55,73.0,...,Bretagne,53.0,1.0,2010-01-05,13:00:00,2.70,4.6,82.5,17000.0,6733
4,7591,2010-01-05T13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,274.45,269.05,67.0,...,Provence-Alpes-Côte d'Azur,93.0,1.0,2010-01-05,13:00:00,1.30,NaN,NaN,NaN,5548.7

### Aggrégation par région en appliquant les pondérations que sont les superficies des départements

Créons un dictionnaire pour stocker les critères d'agrégation

In [173]:
criteres_agregation = {'temperature_degre_celcius_departement': lambda x: np.average(x, weights=base_meteo_modifie_4.loc[x.index, 'superficie_km2']),'vitesse_vent_departement': lambda x: np.average(x, weights=base_meteo_modifie_4.loc[x.index, 'superficie_km2']),'nebulosite_totale_departement': lambda x: np.average(x, weights=base_meteo_modifie_4.loc[x.index, 'superficie_km2']),'visibilite_horizontale_departement': lambda x: np.average(x, weights=base_meteo_modifie_4.loc[x.index, 'superficie_km2'])}

Appliquons l'agrégation groupée en utilisant les critères spécifiés

In [174]:
agregation_reg_mean = base_meteo_modifie_4.groupby(['jour','code_region']).agg(criteres_agregation)
agregation_reg_mean = agregation_reg_mean.rename(columns={'jour':'jour','code_region':'code_region','temperature_degre_celcius_departement':'temperature_degre_celcius_region','vitesse_vent_departement':'vitesse_vent_region','nebulosite_totale_departement':'nebulosite_totale_region','visibilite_horizontale_departement':'visibilite_horizontale_region'})

Fusion de la base agrégée obtenue et de la base de départ dans une nouvelle base

In [175]:
base_meteo_modifie_5 = pd.merge(base_meteo_modifie_4, agregation_reg_mean, on=['jour','code_region'], how='left')

Aperçu de la base obtenue

In [176]:
base_meteo_modifie_5.head()

,num_station,date_UTC,pression_mer,variation_pression_3h,type_tendance_baro,direction_vent,vitesse_vent,temperature,point_de_rosee,humidite,...,heure,temperature_degre_celcius_departement,vitesse_vent_departement,nebulosite_totale_departement,visibilite_horizontale_departement,superficie_km2,temperature_degre_celcius_region,vitesse_vent_region,nebulosite_totale_region,visibilite_horizontale_region
0,7558,2010-01-05T10:00:00+01:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,...,10:00:00,2.60,1.5,100.0,4000.0,8735.1,4.108036,2.090036,NaN,NaN
1,61976,2010-01-05T10:00:00+01:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,...,10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7027,2010-01-05T13:00:00+01:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,...,13:00:00,0.95,3.1,67.5,16000.0,5534.5,0.340072,4.891300,77.822977,13389.512450
3,7110,2010-01-05T13:00:00+01:00,100750.0,-230.0,8.0,210.0,4.1,276.95,272.55,73.0,...,13:00:00,2.70,4.6,82.5,17000.0,6733,1.079720,3.376568,NaN,19629.335109
4,7591,2010-01-05T13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,274.45,269.05,67.0,...,13:00:00,1.30,NaN,NaN,NaN,5548.7,3.111914,NaN,NaN,NaN

## Agrégation des autres variables (températures minimales et maximales)

Nous allons considérer que la température minimale/maximale observée avant 22h est la température minimale/maximale de la journée.

Crérons une base des températures minimales
On extrait le base de données pour chaque 22h

In [177]:
base_22h=base_meteo_modifie_5[base_meteo_modifie_5['heure']=='22:00:00']
agregation_reg_min_max=base_22h.groupby(['jour','code_region']).agg({'temperature_celcius_min_sur_24h': 'min', 'temperature_celcius_max_sur_24h': 'max'})
agregation_reg_min_max = agregation_reg_min_max.rename(columns={'jour':'jour','code_region':'code_region','temperature_celcius_min_sur_24h':'temperature_celcius_min_sur_24h_region','temperature_celcius_max_sur_24h':'temperature_celcius_max_sur_24h_region'})

Fusion de la base agrégée obtenue et de la base de départ dans une nouvelle base

In [178]:
base_meteo_modifie_6 = pd.merge(base_meteo_modifie_5, agregation_reg_min_max, on=['jour','code_region'], how='left')

Aperçu

In [181]:
base_meteo_modifie_6.head()

,num_station,date_UTC,pression_mer,variation_pression_3h,type_tendance_baro,direction_vent,vitesse_vent,temperature,point_de_rosee,humidite,...,vitesse_vent_departement,nebulosite_totale_departement,visibilite_horizontale_departement,superficie_km2,temperature_degre_celcius_region,vitesse_vent_region,nebulosite_totale_region,visibilite_horizontale_region,temperature_celcius_min_sur_24h_region,temperature_celcius_max_sur_24h_region
0,7558,2010-01-05T10:00:00+01:00,100280.0,-50.0,5.0,260.0,1.5,275.75,275.75,100.0,...,1.5,100.0,4000.0,8735.1,4.108036,2.090036,NaN,NaN,NaN,NaN
1,61976,2010-01-05T10:00:00+01:00,100990.0,NaN,NaN,NaN,NaN,305.45,299.05,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7027,2010-01-05T13:00:00+01:00,100720.0,-190.0,8.0,200.0,3.6,273.65,271.75,87.0,...,3.1,67.5,16000.0,5534.5,0.340072,4.891300,77.822977,13389.512450,NaN,NaN
3,7110,2010-01-05T13:00:00+01:00,100750.0,-230.0,8.0,210.0,4.1,276.95,272.55,73.0,...,4.6,82.5,17000.0,6733,1.079720,3.376568,NaN,19629.335109,NaN,NaN
4,7591,2010-01-05T13:00:00+01:00,NaN,NaN,NaN,NaN,NaN,274.45,269.05,67.0,...,NaN,NaN,NaN,5548.7,3.111914,NaN,NaN,NaN,NaN,NaN